.me
  padding: 20px
  margin: 20px 20% 0
  font-size: 14px
  font-family: Microsoft Yahei
  .me_top
    position relative
    height: 300px
    text-align: center
    .el-image
      width: 200px
      position absolute
      left 50%
      transform: rotate(-90deg) translateY(-50%)
      border-radius: 50%
      box-shadow: 0 0 6px black
    span 
      position absolute
      top 220px
      transform: translateX(-50%)
      font-size: 25px
      letter-spacing: 10px
      color: #949494
  .me_main
    background-color:#f7f7f7
    box-shadow: 0 0 20px
    padding: 10px
    .me_one
      height: 40px
      line-height: 40px
      padding-left: 20px
      font-size: 20px
      font-weight: 800
      background-image: linear-gradient(to right, white, #949494, #949494)
      position relative
      a
        color: black
        text-decoration: none 
        &:hover
          color: red
      .me_hoon
        height: 40px
        width: 10px
        position absolute
        left -10px
        top 0
        background-color: #ea9c9c
    .me_email
      margin: 20px 0 
      padding: 10px
      background-color: #eaeaea
      span 
        display inline-block
        margin: 20px 30px 10px 0
        a
          text-decoration: none
          color:#888888
      .item_block  
        display: block

      
