.blog
  margin: 20px 20% 0
  padding: 20px
  .blog_top
    border-radius: 10px
    display flex
    padding: 20px
    background-color: #efefef
    justify-content: space-between
    .blog_top_left
      width: 30%
    .blog_top_right
      width: 65%
      padding: 10px
  .blog_main
    height: 600px 
    margin-top: 20px
    padding: 20px
    border-radius: 10px
    background-color: #efefef  
    .blog_main_top
      height: 40px
      font-size: 20px
      border-bottom: 1px solid #d4d4d4
    .blog_main_main
      margin-top: 10px
      .blog_main_item
        height: 210px
        background-color: white
        padding: 5px 10px
        position relative
        .title
          font-size: 20px
          font-weight: 700
          height: 40px
          line-height: 40px
          a
            text-decoration: none 
            color: #da9700
            &:hover
              color: #067cf5
        .el-image
          width: 180px
        .item_right
          position absolute
          top 70px
          left 200px
          .item_right_top
            padding: 5px
            font-size: 14px
            color: #929292
          .item_right_middle
            padding-left: 60px 
            height: 50px 
            line-height: 50px
            color: #096
            font-size: 12px
